<div class="users-page">

  <!-- HEADER -->
  <div class="page-header">
    <div>
      <h2>Users</h2>
      <p>Manage portal users</p>
    </div>

    @if (role === 'ADMIN') {
      <app-button (btnClick)="openAddDialog()">
        <mat-icon>add</mat-icon>
        Add User
      </app-button>
    }
  </div>


  <!-- FILTERS -->
  <div class="filters-card">

    <div class="search-box">
      <mat-icon>search</mat-icon>

      <input
        type="text"
        placeholder="Search username/email"
        [(ngModel)]="searchText"
        (input)="applyFilters()"
      />
    </div>


    <div class="simple-select">
      <select
        [(ngModel)]="roleFilter"
        (change)="applyFilters()"
      >
        <option value="">
          All Roles
        </option>

        <option value="1">
          Admin
        </option>

        <option value="2">
          Interviewer
        </option>
      </select>
    </div>

  </div>


  <app-grid
    [data]="pagedUsers"
    [columns]="columns"
    [actions]="actions"
    [config]="gridConfig"
    (actionClicked)="onGridAction($event)"
    (pageChanged)="onPageChanged($event)"
  />

</div>
