<div class="questions-page">

    <!-- HEADER -->
    <div class="page-header">
        <div>
            <h2>Questions</h2>
            <p>Manage interview questions</p>
        </div>
        <div class="header-actions">

            <app-button variant="outline" (btnClick)="downloadTemplate()">
                <mat-icon>download</mat-icon>
                Download Template
            </app-button>

            <app-button variant="secondary" (btnClick)="fileInput.click()">
                <mat-icon>upload_file</mat-icon>
                Bulk Upload
            </app-button>

            <input #fileInput hidden type="file" accept=".xlsx,.xls" (change)="uploadExcel($event)">

            <app-button (btnClick)="openAddPage()">
                <mat-icon>add</mat-icon>
                Add Question
            </app-button>

        </div>
    </div>

    <!-- FILTERS -->
    <div class="filters-card">
        <div class="search-box">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search by title..." [(ngModel)]="searchText" (input)="applyFilters()" />
        </div>

        <div class="simple-select">
            <select [(ngModel)]="difficultyFilter" (change)="applyFilters()">
                <option value="">All Difficulties</option>
                <option value="EASY">Easy</option>
                <option value="MEDIUM">Medium</option>
                <option value="HARD">Hard</option>
            </select>
        </div>

        <div class="simple-select">
            <select [(ngModel)]="categoryFilter" (change)="applyFilters()">
                <option value="">All Categories</option>
                <option *ngFor="let cat of allCategories" [value]="cat.id">{{ cat.name }}</option>
            </select>
        </div>

        <div class="simple-select">
            <select [(ngModel)]="statusFilter" (change)="applyFilters()">
                <option value="">All Status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
    </div>

    <app-grid
        [data]="pagedQuestions"
        [columns]="columns"
        [actions]="actions"
        [config]="gridConfig"
        (actionClicked)="onGridAction($event)"
        (pageChanged)="onPageChanged($event)"
    />

</div>
