<div class="min-h-screen flex items-center justify-center bg-[#f5f6f8] p-4">
  <div
    class="w-full max-w-[430px] rounded-[18px] border border-[#e5e7eb] bg-white px-8 py-9"
  >
    <h1 class="mb-2 text-center text-[20px] font-bold">Forgot Password</h1>

    <p class="mb-7 text-center text-sm text-[#64748b]">
      Enter your email to receive reset link
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label class="mb-2 block text-sm font-semibold"> Email </label>

        <input
          type="email"
          formControlName="email"
          placeholder="Enter email"
          class="h-[52px] w-full rounded-[10px] border border-[#d1d5db] px-4 outline-none focus:border-[#08132f]"
        />
      </div>

      <button
        type="submit"
        class="h-[48px] w-full rounded-[10px] bg-[#08132f] font-semibold text-white"
      >
        Submit
      </button>
    </form>
    <div class="mt-6 flex items-center justify-center">
      <a
        routerLink="/auth/login"
        class="flex items-center gap-2 text-sm font-medium text-[#64748b] hover:text-[#08132f]"
      >
        <lucide-icon [img]="ArrowLeft" class="h-4 w-4"> </lucide-icon>

        Back to Login
      </a>
    </div>
  </div>
</div>
