<div class="dialog-container">
  <div class="dialog-header">
    <div>
      <h2>
        {{ isSelfProfile ? "Edit Profile" : (isEditMode ? "Edit User" : "Add User") }}
      </h2>
      <p>{{ isSelfProfile ? "Manage your account credentials" : "Manage user details and permissions" }}</p>
    </div>
  </div>

  <!-- FORM -->
  <form [formGroup]="form" class="dialog-form">
    <app-input-field
      [label]="'Username'"
      [type]="'text'"
      [placeholder]="'Enter username'"
      [control]="form.controls.username"
      [submitted]="submitted"
      [customErrorMessage]="usernameInvalid"
    ></app-input-field>

    <app-input-field
      [label]="'Email'"
      [type]="'email'"
      [placeholder]="'Enter email'"
      [control]="form.controls.email"
      [submitted]="submitted"
      [customErrorMessage]="emailInvalid"
    ></app-input-field>

    @if (!isEditMode) {
    <app-input-field
      [label]="'Password'"
      [type]="'password'"
      [placeholder]="'Enter password'"
      [control]="form.controls.password"
      [submitted]="submitted"
      [customErrorMessage]="passwordInvalid"
    ></app-input-field>
    }

    <div class="row">
      <div class="form-group flex-1">
        <label> Role </label>

        <select formControlName="roleId">
          <option [ngValue]="null" disabled>Select role</option>
          @for (item of roles; track item.id) {
          <option [ngValue]="item.id">
            {{ item.roleName | titlecase }}
          </option>
          }
        </select>
      </div>

      <div class="status-section">
        <label> Status </label>
        <label class="switch">
          <input type="checkbox" formControlName="isActive" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </form>

    <!-- ACTIONS -->
    <div class="dialog-actions">
        <app-button variant="secondary" mat-dialog-close>
            Cancel
        </app-button>

        <app-button [disabled]="form.invalid || form.pending" (btnClick)="submit()">
            {{ isSelfProfile ? 'Update Profile' : (isEditMode ? 'Update User' : 'Create User') }}
        </app-button>
    </div>

</div>
