<div class="min-h-screen flex items-center justify-center bg-[#f5f6f8] p-4">
  <div
    class="w-full max-w-[430px] rounded-[18px] border border-[#e5e7eb] bg-white px-8 py-9"
  >
    <h1 class="mb-7 text-center text-[20px] font-bold">Reset Password</h1>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label class="mb-2 block text-sm font-semibold"> New Password </label>

        <input
          type="password"
          formControlName="newPassword"
          class="h-[52px] w-full rounded-[10px] border border-[#d1d5db] px-4 outline-none focus:border-[#08132f]"
        />
      </div>

      <div>
        <label class="mb-2 block text-sm font-semibold">
          Confirm Password
        </label>

        <input
          type="password"
          formControlName="confirmPassword"
          class="h-[52px] w-full rounded-[10px] border border-[#d1d5db] px-4 outline-none focus:border-[#08132f]"
        />
      </div>

      <button
        type="submit"
        class="h-[48px] w-full rounded-[10px] bg-[#08132f] font-semibold text-white"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
