<div class="min-h-screen flex items-center justify-center bg-[#f5f6f8] p-4">
  <div
    class="w-full max-w-[430px] rounded-[18px] border border-[#e5e7eb] bg-white px-8 py-9"
  >
    <h1 class="mb-7 text-center text-[20px] font-bold">Reset Password</h1>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <app-input-field
        [label]="'New Password'"
        [type]="'password'"
        [placeholder]="'New Password'"
        [control]="resetForm.controls.newPassword"
        [customErrorMessage]="passwordInvalid"
      ></app-input-field>

      <app-input-field
        [label]="'Confirm Password'"
        [type]="'password'"
        [placeholder]="'Confirm Password'"
        [control]="resetForm.controls.confirmPassword"
        [customErrorMessage]="passwordMismatchError"
      ></app-input-field>

      <app-button
        type="submit"
        [fullWidth]="true"
        size="lg"
        [disabled]="resetForm.invalid"
        [loading]="isLoading()"
        loadingText="Resetting..."
      >
        Reset Password
      </app-button>
    </form>
  </div>
</div>
