<div class="users-page">

    <!-- HEADER -->
    <div class="page-header">

        <div>
            <h2>Candidates</h2>
            <p>Manage candidates</p>
        </div>

        @if (role === "ADMIN") {
        <app-button (btnClick)="openAddDialog()">
            <mat-icon>add</mat-icon>
            Add Candidate
        </app-button>
        }

    </div>

    <!-- FILTER -->
    <div class="filters-card">

        <div class="search-box">
            <mat-icon>search</mat-icon>

            <input
                type="text"
                placeholder="Search candidate/email"
                [(ngModel)]="searchText"
                (input)="applyFilters()"
            />
        </div>

    </div>

    <app-grid
        [data]="pagedCandidates"
        [columns]="columns"
        [actions]="actions"
        [config]="gridConfig"
        (actionClicked)="onGridAction($event)"
        (pageChanged)="onPageChanged($event)"
    />

</div>
